.btn-outline-secondary {
    color: #555;
    border-color: #aaa;
}
.btn-outline-secondary:hover {
    color: #212529;
    background-color: #e9ecef;
    border-color: #aaa;
}
.btn-outline-secondary.focus,
.btn-outline-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(233, 236, 239, 0.5);
}
.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
    color: #555;
    background-color: transparent;
}

.c-lightgray {
    color: lightgray;
}

.hover-bg:not(:hover) .hover-button {
    display: none;
}
.active .hover-bg:hover .hover-button {
    background-color: rgba(255, 255, 255, 0.9);
}
.active .hover-bg:hover .hover-button:hover {
    color: black;
}

.inline {
    display: inline-block;
}

.m0 {
    margin: 0;
}

.m11 {
    margin: 11px;
}

.mb11 {
    margin-bottom: 11px;
}

.ml11 {
    margin-left: 11px;
}

.mlr11 {
    margin-left: 11px;
    margin-right: 11px;
}

.mr11 {
    margin-right: 11px;
}

.mt11 {
    margin-top: 11px;
}

.mtb11 {
    margin-top: 11px;
    margin-bottom: 11px;
}

.nav-item.dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
    display: block;
    top: 88%;
}

.navbar-dark .navbar-nav .nav-link.active {
    font-weight: bold;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
}
.navbar-dark .navbar-nav .dropdown-item:not(.active):hover {
    background-color: #e9ecef;
}

.pointer {
    cursor: pointer;
}

.table caption.caption-top {
    caption-side: top;
}

.w111 {
    width: 111px;
}

.wa {
    width: auto;
}
